# Gradle
build
out
*gradle*
!build.gradle
!integrationTest.gradle
# Tables
src/main/resources/mapping/liblouis
src/integrationTest/resources/mapping/liblouis
src/test/resources/mapping/liblouis


# IntelliJ
.idea
*.iml

# Java
*.class
*.jar
*.tar

# Miscellaneous
*.DS_Store
*.db

# Exported SVG files
*.svg

# Exported binary dumps
*.bin

# Native libraries
*.so
*.dylib
*.dll
