# Gradle
build
out
*gradle*
!build.gradle
!integrationTest.gradle
# Tables
src/main/resources/mapping/liblouis

# IntelliJ
.idea
*.iml

# Java
*.class
*.jar
*.tar

# Miscellaneous
*.DS_Store
*.db

# Exported SVG files
*.svg
