# Gradle
build
out
*gradle*
!build.gradle

# IntelliJ
.idea
brailleplot.iml

# Application
!src/main/resources/*
src/main/java/de/tudresden/inf/mci/brailleplot/rendering/UniformTextureBarChartRasterizer.java

# Java
*.class
*.jar
*.tar

# Miscellaneous
*.DS_Store